name: Build and Test Gem

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        jruby-version: ["9.3", "9.4"]
        java-version: ["11", "17"]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java-version }}

      - name: Set up JRuby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby-${{ matrix.jruby-version }}
          bundler-cache: true

      - name: Install dependencies
        run: |
          bundle install
          ./gradlew clean vendor

      # - name: Run tests
      #   run: bundle exec rake test

      - name: Build gem
        run: gem build logstash-integration-aws.gemspec
